body, body * {
     font-family: Comfortaa;
     font-size: 12px;
}
div.boxes{
	width: 470px;
}
.vl {
	float: left;
	border-left: 2px solid green;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 0;
}
.container {
	width: 230px;
	height: 50px;
	text-align: center;
}
.header {
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	color: green;
}
#fivePBGN, #fivePEUR, #bidBGN, #bidEUR {
	font-weight: bold;
	text-align: left;
	margin-left: 10px;
	color: gray;
}
#dateDOW, #pub, #offers, #commission, #pubDOW, #offersDOW, #commissionDOW, #guaranteeBGN, #percentageBGN, #priceEUR,#guaranteeEUR, #percentageEUR, #priceBGN, #et{
	font-weight: bold;
	text-align: center;
}
#percentageBGN, #percentageEUR{
	color: black;
}
#pubDOW{
	font-weight: bold;
}
.leftbox {
	float: left; 
	width: 229px;
	height: 230px;
	text-align: center;
}
.rightbox {
	float: right;
	width: 229px;
	height: 230px;

}
.lbox {
	float: left; 
	width: 115px;
	text-align: right;
}
.rbox {
	float: left;
	width: 115px;
}

input{
	text-align: center;
} 	